@import '../../sass/index';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-top: 20px;

    @include for-tablet {
        gap: 30px;
    }

    @include for-desktop {
        gap: 30px;
    }
}

.containerTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;

    @include for-tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 704px;
    }

    @include for-desktop {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 1153px;
    }
}

.noResultsMessage {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: $text-color;
    width: 335px;
    padding: 10px;

    span {
        color: $orange-color;
    }

    @include for-tablet {
        width: 760px;
        padding: 30px;
    }

    @include for-desktop {
        width: 1200px;
        padding: 30px;
    }
}
