@import '../../sass/index';

.noticesList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @include for-tablet {
    gap: 20px;
    }

    @include for-desktop {
    gap: 32px;
    }
}
